html, body {
  margin: 0;
  padding: 0;
  font-family: 'spartanLeagueBold', sans-serif;
  text-rendering: optimizeLegibility;
  color: #42A0F4;
  overflow-x: hidden;
}

.title .row h1 {
  white-space: pre-line;
}

.color-gradient {
  display: block;
  color: transparent;
  background: -webkit-linear-gradient(red, yellow);
  background-attachment: fixed;
  -webkit-background-clip: text;
}

@font-face {
  font-family: 'spartanLeagueBold';
  src: url('assets/fonts/leaguespartan-bold.eot');
  src: url('assets/fonts/leaguespartan-bold.otf');
  src: url('assets/fonts/leaguespartan-bold.ttf');
  src:
	local('LeagueSpartan Bold'),
	local('LeagueSpartan-Bold'),
	url('../assets/fonts/LeagueSpartan-bold.otf')
	format('opentype');
src:
	local('LeagueSpartan Bold'),
	local('LeagueSpartan-Bold'),
	url('../assets/fonts/leaguespartan-bold.ttf')
	format('truetype');
}

h4 {
  font-size: 22px;
  margin-bottom: 28px;
}

p {
  font-size: 22px;
  font-family: 'Work Sans', sans-serif;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #5000F1;
}

header h2 {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-top: 70px;
}
header a h2 {
  color: #42A0F4;
}
header a h2 span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
header a:hover h2 span {
  color: #fff;
  margin-left: 10px;
}
header .white-block {
  margin-top: 20px;
  width: 46px;
  height: 6px;
  background: #fff;
}

header .title {
  margin-top: 20px;
  z-index: 99;
}

header h1 {
  font-size: 96px;
  font-weight: 900;
  letter-spacing: 0.12em;
  margin: 0;
  margin-left: -6px;
  line-height: 1.3em;
}

.topHeroLine {
  width: 100%;
  height: 6px;
  background-color: #42A0F4;
}

header .title a {
  display: inline-block;
  margin-top: 6px;
  margin-right: -70px;
  background: #222;
  padding: 26px 80px;
  color: #fff;
  border-radius: 12px;
  font-size: 26px;
  letter-spacing: 0.2em;
}

header .title img {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 15%;
    width: 100%;
  }
}

col-md-4 text-right {
  overflow: hidden;
}

header h3 {
  font-size: 21px;
}



/*----------------------------------
  Main
------------------------------------*/

main,
.main {
  overflow: hidden;
}

.section {
  position: relative;
}

section.backgroundbio {
  margin-top: 100px;
}

.absolute {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.absolute.above {
  margin-top: 400px;
}

.absolute h2 {
  font-size: 140px;
  font-weight: 900;
  letter-spacing: -0.04em;
  color: #F0F0F0;
  z-index: -1;
}
/*
.lg-green {
  width: 160px;
  height: 160px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -80px;
  margin-top: 200px;
}*/
/*
.sm-green {
  width: 60px;
  height: 60px;
  background: #222222;
  border-radius: 12px;
  margin-left: 80px;
  margin-top: 400px;
  z-index: -1;
}

.sm-purple {
  width: 60px;
  height: 60px;
  background: #42A0F4;
  border-radius: 12px;
  margin-left: 10px;
  margin-top: 400px;
  z-index: -1;
}

.xs-green {
  width: 60px;
  height: 60px;
  background: #222222;
  border-radius: 12px;
  margin-left: -90px;
  margin-top: 400px;
  z-index: -1;
}

.md-green {
  width: 120px;
  height: 120px;
  background: #222222;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 10px;
  z-index: -1;
}

.lg-purple {
  width: 80px;
  height: 80px;
  background: #42A0F4;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 60px;
  z-index: -1;
}*/

.bio-section {
  margin-top: 400px;
  font-size: 48px;
  font-weight: 600;
  z-index: 99;
}

.copy {
  z-index: 99;
  line-height: 2em;
  color: #78F499;
}

.temp {
  margin-top: 200px;
  font-size: 280px;
  font-weight: 900;
  letter-spacing: -0.07em;
  color: #5000F1;
}

.clearfix {
  float: none;
}

.project {
  background: white;
  width: 40%;
  /* TODO: get projects to fit 2 to a page */
  float: right;
  padding: 90px 80px;
  border-radius: 12px;
  /* TODO: fix box shadow */
  box-shadow: 0px 2px 10px rgba(0,0,0,0, 0.18);
  margin-left: 20px;
  margin-bottom: 20px;
  transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
  line-height: 1.5em;
  color: #222222;
  z-index: 99;
}

.project:hover {
  /*margin-top: 12px;
  margin-bottom: 12px;
  margin-right: -80px;
  margin-left: -80px;*/
  background: #222222;
  color: white;
  border: thin #222222 solid;
}

.project:hover img {
  border: thin white solid;
}

.project img {
  width: 100%;
  border-radius: 20px;
}

.md-facebook {
  width: 60px;
  height: 60px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: 68px;
  margin-top: 600px;
}

.md-twitter {
  width: 120px;
  height: 120px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 60px;
}

.md-dixonandmoe {
  width: 120px;
  height: 120px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 760px;
  z-index: -1;
}

.bt-green {
  width: 60px;
  height: 60px;
  background: #222222;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 700px;
  z-index: -1;
}

.bt-purple {
  width: 80px;
  height: 80px;
  background: #222222;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 600px;
  z-index: -1;
}

.share {
  position: relative;
  top: -240px;
}
.share a {
  font-size: 1em;
}
.share a span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.share a:hover span {
  margin-left: 10px;
}

a.dam,
a.dam:hover,
a.dam:active,
a.dam:visited {
  color: #222222;
}


@-webkit-keyframes fuzz /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    /*-webkit-transform: scaleY(1);*/
    opacity: 1;
  }
}

@-webkit-keyframes fuzz2 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fuzz3 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





@-webkit-keyframes stretch /* Safari and Chrome */ {
  0% {
    -webkit-transform: scaleX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
  }
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}







/*----------------------------------
  Medium devices: iPad vertical
------------------------------------*/

@media (max-width: 991px) {


}



/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {


}


/*----------------------------------
  iPhone 6 & 6+ specific text bump
------------------------------------*/

@media (max-width: 991px) and (max-height: 736px) and (min-height: 481px) {


}
